.react-budget__income-expense {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__income,
    &__expense,
    &__balance {
        display: flex;
        padding: 15px;
        margin-bottom: 30px;
        max-width: 27%;

    }
    &__expense-color {
        width: 10px;
        margin-right: 10px;
        background-color: #e53935;
    }
    &__income-color {
        width: 10px;
        margin-right: 10px;
        background-color: #64dd17;
    }
    &__balance-color {
        width: 10px;
        margin-right: 10px;
        background-color: #64dd17;
    }
}