.react-budget__legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8px;
    &-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   &-color-box {
        height: 9px;
        width: 9px;
    }
}