.react-budget__transaction {
    text-align: center;
    margin: 20px 0 0 0;
    margin-bottom: 30px;
    &-input {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 100px;
        margin-bottom: 10px;
    }
}