.react-budget__transaction {
    text-align: center;
    margin: 20px 0 0 0;
    &-input {
        display: flex;
        flex-direction: row;
        padding: 0 10;
        margin-bottom: 10px;
        width: 60%;
        justify-content: space-between;
    }
}