.react-budget {
  &__header {
    text-align: center;
    margin-bottom: 1em;
  }
  &__transaction-history-flexbox {
    display: flex;
    justify-content: space-around;
    margin: 30px;
  }
  &__balance-goal-flexbox {
    display: flex;
    justify-content: space-around;
  }
}