.react-budget {
  text-align: center;
  &__header {
    text-align: center;
    margin-bottom: 2em;
  }
  &__income-expense {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__income {
    border-right: solid tan 1px;
    padding-right: 1em;
    color: green;
  }
  &__expense {
    border-left: solid tan 1px;
    padding-left: 1em;
    color: red;
  }
}