.react-budget {
  &__header {
    text-align: center;
    margin-bottom: 1em;
  }
  &__transaction-history-flexbox {
    display: flex;
    justify-content: space-around;
    margin: 30px;
  }
  &__flexbox {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
  }
  &__history-flexbox {
    display: flex;
    justify-content: space-around;
    margin: 40px;
  }
  &__balance-goal-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}